<link rel="manifest" href="/static/manifest.webmanifest">
<link rel="apple-touch-icon" href="images/icons/icon-512x512.png">
<meta name="theme-color" content="white"/>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Hello World</title>