<link rel="manifest" href="/static/manifest.webmanifest">
<link rel="apple-touch-icon" href="/static/images/icons/icon_512.png">
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<meta name="theme-color" content="white"/>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="A PWA Chat App">

<title>Chat App</title>