<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/header') %>
    </head>
    <body>
        <div class="container-flex vh-100">
            <div class="d-flex flex-column align-items-center justify-content-center vh-100">
                <div class="w-25 bg-light p-3">
                    <h1>Chat</h1>
                    <p>Room ID: <%= roomId %></p>
                    <div id="msgs"></div>
                    <form id="msgForm">
                        <div class="input-group">
                            <input type="hidden" value="<%= roomId %>" id="roomId">
                            <input class="form-control" type="text" id="msgInput"/>
                            <input class="btn btn-primary" type="submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/static/js/chat.js"></script>
    </body>
</html>