<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/header') %>
    </head>
    <body>
        <h1>Hello World!</h1>
        <a href="/chat/test">Chat Now!</a>
        <script src="/static/js/main.js"></script>
    </body>
</html>